h1.home-title Happy Gram
	form(class="home-form", method="post")
		//- img.image(src=`../files/${user.id}.jpg`)
		textarea(name="description", rows="4", class="add-text", placeholder="Description")
		button.add-btn Add