include navbar.pug
.post
	h1.home-title Travel
form(class="home-form", method="post", enctype="multipart/form-data")
	input(type="text", mane="title", placeholder="title", class="add-input")
	textarea(name="comment", rows="4", class="add-text", placeholder="Comment")
	label.home-form-file
		.home-form-file-label1 Choose a file
		input(class="home-form-file-input", name="image", type="file")
		button.add-btn Add
		

