include navbar.pug
.post
	h1.home-title Happy Gram
form(class="home-form", method="post", enctype="multipart/form-data")
	label.home-form-file
		.home-form-file-label1 Choose a file
		input(class="home-form-file-input", name="image", type="file")
		//-input(name="description", type="text")
		button.add-btn Add
	
	
		

