h1.dest Welcome to Travel Blog!
			for (let i = 0; i < blog.length; i++) 
					div
					div.pic
						img(src="blog[i].image")
					div.text-title (blog[i].title)
					div.text-comment (blog[i].comment) 
			        
		


		