doctype html
html
	head
		link(rel="stylesheet", href="styles/reset.css")
		link(rel="stylesheet", href="styles/main.css")
		script(src="scripts/jquery.js")

		block scripts
			script(src="scripts/js-cookie.js")
			script(src="scripts/index.js")

	body
		