doctype html
html
	head
		title Express
		link(rel="stylesheet", href="styles/reset.css")
		link(rel="stylesheet", href="styles/main.css")

		block scripts
			script(src="scripts/js-cookie.js")
			script(src="scripts/index.js")

	body
		h4 This is a new express app!