include layout.pug
	title Login
include navbar.pug

body#login
	.form-container
		form(method="POST", id="login-form")
			h2 Login
			.form-error.js-username.hidden Please enter a valid username
			br
			input(name="username", placeholder="Username", type="text")
			.form-error.js-password.hidden Please enter a valid username
			br
			input(name="password", placeholder="Password", type="password")
			br
			button Submit

	script(src="scripts/formSubmit.js")