.navbar.container
	.navbar-ul This is the navbar page. Did this include work?
		ul.navbar
			li
				a(href="/user/home") Home
			li
				a(href="/signup") Signup
			li
				a(href="/user/logout") Logout