.navbar.container
	.navbar-ul
		ul.navbar
			li
				a(href="/") Home
			li
				a(href="/signup") Signup
			li
				a(href="/login") Login
			li
				a(href="/user/home") User Home
			li
				a(href="/user/logout") Logout
			


