include layout.pug
	title Signup

body#signup
	.form-container
		form(method="POST", id="signup-form")
			h2 Signup
			.form-error.js-username.hidden Please enter a valid username
			br
			input(name="username", placeholder="Username", type="text" required)
			.form-error.js-password.hidden Please enter a valid username
			br
			input(name="password", placeholder="Password", type="password" required)
			.form-error.js-confirm.hidden Passwords must match
			br
			input(name="confirm", placeholder="Confirm your password", type="password" required)
			br
			button Submit


	script(src="scripts/formSubmit.js")