include layout.pug
	title Signup

body#signup
	.form-container
		form(method="POST", id="signup-form")
			h2 Signup
			.form-error.js-username.hidden Please enter a valid username
			input(name="username", placeholder="Username", type="text" required)
			.loading.js-loading-img
			.form-error.js-username-error.hidden That username is taken.
			br
			.form-error.js-password.hidden Password field cannot be blank
			input(name="password", placeholder="Password", type="password" required)
			br
			.form-error.js-confirm.hidden Passwords must match
			input(name="confirm", placeholder="Confirm your password", type="password" required)
			br
			button Submit

	script(src="scripts/formSubmit.js")
	script(src="scripts/signupValid.js")