
head 
	title Signup
	link(rel="stylesheet", href="styles/reset.css")
	link(rel="stylesheet", href="styles/main.css")
	script(src="scripts/jquery.js")

body#signup
	include navbar.pug
	.form-container
		form(method="POST", id="signup-form")
			h2 Signup
			.form-error.username.hidden Please enter a valid username
			br
			input(name="username", placeholder="Username", type="text" required)
			.form-error.password.hidden Please enter a valid username
			br
			input(name="password", placeholder="Password", type="password" required)
			.form-error.confirm.hidden Passwords must match
			br
			input(name="confirm", placeholder="Confirm your password", type="password" required)
			br
			button Submit


	script(src="scripts/formSubmit.js")