 
/*
body#signup .hidden {
	display: none;
}*/

/* ###############################################################
  Nav bar 
################################################################ */

div.form-error {
	color: red;
	font-size: 16px;
}

.navbar li {
	width: 135px;
	height: 55px;
	display: inline-block;
	border: 1px solid grey;
	border-radius: 5px;
	margin: 10px 25px;
	text-align: center;
}

.navbar {
	height: 100px;
	width: 100%;
	background-color: #ddd;
}


.form-container {
	width: 75%;
	margin: 10px auto;
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 2em;
}

.form-container form {
	margin: 10px auto;
}

.hidden {
	display: none;

}

/* ###############################################################
	Images
################################################################ */

.landing-title {
	text-align: center;
	font-size: 3em;
}
.post-obj-container {
	position: relative;
}
.img-container {
	width: 65%;
	margin: 15px auto;
	border: 1px solid grey;

}

.img-container img {
	width: 100%;
	margin: 5px auto;
}

.imgage-404 {
	width: 65%;
	margin: 20px auto;
}

/* ###############################################################
	Like button 
################################################################ */
.like-img-form {
	width: 75px;
	height: 75px;

}

/* ###############################################################
	Signup 
################################################################ */


.loading {
	width: 20px;
	height: 20px;
	border: 1px solid grey;
	display: inline-block;
	background-image: url("/images/x.png");
	background-size: cover;
}
